.con-place-order{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
}
.place-order{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.place-order .detail-left{
    grid-column: 1/3;
    background-color: white;
}


.place-order .detail-right{
    grid-column: 3;
    background-color: white;
}
.header-address{
    text-align: start;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 15px;
}